@use '../../styles/mixin.scss' as mixin;

.header {
  background-color: #F5F5F5;
  padding: 28px 0;

  &__wrap {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 130px;
    margin-right: 5%;

    @include mixin.phone {
      width: initial;
    }
  }

  &__form {
    width: calc(100% - 130px);

    @include mixin.tablet {
      width: 42%;
    }
  }

  &__seach {
    width: 20%;
    height: 48px;
    border-radius: 25px;
    padding: 0 25px;
  }
}

